<!--
    Student’s Name: Jorge Fergusson Ossa
    StudentID: 301258165
    Date: 06/14/2023
  
    partial with certification adges
  -->
<div class="row">
  <div class="col-4">
    <img src="/img/seal-azure-fundamentals.png" alt="" srcset="" class="Badge"/>
  </div>
  <div class="col-4">
    <img src="/img/seal-csm.png" alt="" srcset="" class="Badge"/>
  </div>
  <div class="col-4">
    <img src="/img/seal-pmp.png" alt="" srcset="" class="Badge"/>
  </div>
</div>
