<footer>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-text">Centennial College &copy; 2023 </span>
      COMP229-005 M2023 Jorge Fergusson Ossa 301258165
    </div>
  </nav>
</footer>
