<div class="col-12">
  <!--
    Student’s Name: Jorge Fergusson Ossa
    StudentID: 301258165
    Date: 06/14/2023
  
    partial with skills
  -->
  
  <div class="row">
    <div class="col-12"><h3>Relevant Skills</h3></div>
  </div>
  <div class="row">
    <div class="col-6">
      <span class="badge rounded-pill text-bg-dark">Node JS</span>
      <span class="badge rounded-pill text-bg-dark">SQL</span>
      <span class="badge rounded-pill text-bg-dark">Mongo DB</span>
      <span class="badge rounded-pill text-bg-dark">C#</span>
    </div>
    <div class="col-6">
      <span class="badge rounded-pill text-bg-dark">Java</span>
      <span class="badge rounded-pill text-bg-dark">HTML5</span>
      <span class="badge rounded-pill text-bg-dark">Javascript</span>
      <span class="badge rounded-pill text-bg-dark">CSS</span>
    </div>
    <div class="col-4">
      <span class="badge rounded-pill text-bg-dark">PMP</span>
      <span class="badge rounded-pill text-bg-dark">Scrum Master</span>
      <span class="badge rounded-pill text-bg-dark">Python</span>
      <span class="badge rounded-pill text-bg-dark">Github</span>
    </div>
  </div>
</div>
<br />
<br />
