<!--
    Student’s Name: Jorge Fergusson Ossa
    StudentID: 301258165
    Date: 06/14/2023
  
    Error page with error description
  -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
