body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

p {
  text-align: justify;
}

#Mision,
#Title {
  text-align: center;
}

#Photo {
  width: 200px;
}

.Badge {
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 40px;
}
.card {
  margin-bottom: 40px;
  margin-right: 5px;
}
.card-img {
  margin-top: 10px;
}
